<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">

        <h1>ju-components playground</h1>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Component path</label>
            <input type="text" id="component-path" class="form-control" placeholder="Text input">
          </div>
        </form>
        </div><!-- /.container -->


        <div>
            <div class="component-container"></div>
        </div>

        <!-- scripts -->
        <!--[if lt IE 9]>
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <!{endif}-->
        <!--[if (gte IE 9)|!(IE)]><!-->
            <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <!--<!{endif}-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" data-main="js/main" type="text/javascript"></script>

    </body>
</html>